* {margin: 0; padding: 10;}

@media only screen and (max-width: 640px) {

   h1 { font-size: 48pt; }
   h2 { font-size: 36pt; }
   body { font-size: 14pt; }
}

body {
font-family: apercuregular, Montserrat, Helvetica, Arial, Sans-serif;
font-weight: 400;
text-align: center;
margin-right: auto;
margin-left: auto;
width: 100%;
font-size: 16pt;

}

h1 {
  font-size: 64pt;
}
h2 {
  font-size: 48pt;
}

h3 {
  font-weight: 800;
  font-size: 20pt;
}

p {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 16pt;
  max-width: 800px;
  
}

table, th, tr, td {
  border-collapse:collapse;
  margin-right: auto;
  margin-left: auto;
}

a:link, a:visited, a:active {
  color: #fff;
  text-decoration: underline;
}

.row {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  font-size: 14pt;
  display: block; 
}

#intro {
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background-color: #000;
  vertical-align: middle;
  padding: 20pt 0pt 20pt 0pt;
  font-size: 64pt;
  background: #000
}

#sponsors {
  width: 100%;
  height: auto;
  padding: 20pt 0;
  text-align: center;
  color: #000;
  background-color: #fff;
}

#what {
  width: 100%;
  height: auto;
  padding: 50pt 0;
  text-align: center;
  color: #fff;
  background-color: #FB9E2D;
}

#who {
  width: 100%;
  height: auto;
  padding: 50pt 0;
  text-align: center;
  color: #fff;
  background-color: #39E877;
}

#when {
  width: 100%;
  height: auto;
  padding: 50pt 0;
  text-align: center;
  color: #fff;
  background-color: #4C95FF;
}


#where {
width: 100%;
height: auto;
padding: 50pt 0;
text-align: center;
color: #fff;
background-color: #C639E8;
}


#invite {
  width: 100%;
  height: auto;
  padding: 50pt 0;
  text-align: center;
  color: #fff;
  background-color: #FF713F;
}

#impressum {
  width: 100%;
  height: auto;
  padding: 50pt 0;
  text-align: center;
  color: #fff;
  background-color: #8C8C8C;
}

#credits {
  width: 100%;
  height: auto;
  padding: 50pt 0;
  text-align: center;
  color: #888;
  background-color: #000;
}

#logos {
   /* Prevent vertical gaps */
   line-height: 1;
   display: block;
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
  }

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   
}

#logos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}



.btn-default {
  font-family: apercuregular, Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.btn-default:hover,
.btn-default:focus {
  border: 2px solid #fff;
  outline: 0;
  color: #FF713F;
  background-color: #fff;
}

.btn-intro {
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  margin-top: 30px;
  font-family: apercuregular, Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.btn-intro:hover,
.btn-intro:focus {
  border: 2px solid #fff;
  outline: 0;
  color: #000;
  background-color: #fff;
}

.btn-where {
  margin-top: 10px;
  font-family: apercuregular, Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.btn-where:hover,
.btn-where:focus {
  border: 2px solid #fff;
  outline: 0;
  color: #C639E8;
  background-color: #fff;
}

.btn-invite {
  margin-top: 10px;
  font-family: apercuregular, Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.btn-invite:hover,
.btn-invite:focus {
  border: 2px solid #fff;
  outline: 0;
  color: #FF713F;
  background-color: #fff;
}




.btn-cta {
  margin-top: 10px;
  font-family: apercuregular, Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  padding: 5px 20px 5px 20px;
  text-align: center;
}

.btn-cta:hover,
.btn-cta:focus {
  border: 2px solid #fff;
  outline: 0;
  color: #8C8C8C;
  background-color: #fff;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:640px;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}




